RewriteEngine on
RewriteCond $1 !^(index\.php|technogory|adminsystemcpanelwebsite|alobuy0862779988|captcha|favicon\.ico)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

#RewriteEngine On
RewriteBase /
#RewriteCond %{HTTP_HOST} !^alobuy.vn$ [NC]
#RewriteRule ^(.*)$ http://alobuy.vn/$1 [L,R=301]

#Remove www
RewriteCond %{HTTP_HOST} ^www.alobuy.vn$ [NC]
RewriteRule ^(.*)$ http://alobuy.vn/$1 [R=301,L]

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
