.vfile-content{
    background: #E0DFDE;
    overflow: hidden;
    padding: 2px;
}
.vfile-left{
    width: 250px;
    float: left;
}
.vfile-right{
    padding-left: 250px;
}
.vfile-folder{
    background: none repeat scroll 0 0 #F8F7F6;
    border: 1px solid #ADABA9;
    border-radius: 6px 6px 6px 6px;
    margin: 4px 4px 0;
    padding: 5px;
    overflow: hidden;
}
div.file {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    margin: 3px;
    padding: 4px;
    float: left;
    width: 80px;
    overflow-x: hidden;
    text-align: center;
    white-space: nowrap;

}
div.file .thumb {
    background: none no-repeat scroll center center transparent;
    height: 80px;
    width: 80px;
}
div.file:hover {
    background: none repeat scroll 0 0 #DDEBF8;
    border-color: #A7BED7;
}
div.file .name {
    font-weight: bold;
    margin-top: 4px;
}
div.file .time {
    font-size: 10px;
}
div.file .size {
    font-size: 10px;
}
#files div.selected, #files div.selected:hover {
    background-color: #5B9BDA;
    border-color: #2973BD;
    color: #FFFFFF;
}

.uploadifyQueueItem {
    background-color: #F5F5F5;
    border: 2px solid #E5E5E5;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    padding: 5px;
    width: 195px;
}
.uploadifyError {
    background-color: #FDE5DD !important;
    border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
    float: right;
}
.uploadifyQueue .completed {
    background-color: #E5E5E5;
}
.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}
.uploadifyQueue{
    overflow: auto;
}
ul#list_img_rotare li{
    list-style: none;
    float: left;
    width: 90px;
    height: 110px;
    border: 1px solid #CCCCCC;
    background-color: #FFF;
    margin: 5px;
}
ul#list_img_rotare li img{
    width: 90px;
    height: 80px;
}
ul#list_img_rotare li div{
    padding: 3px;
}
ul#list_img_rotare li div input{
    float: left;
}
ul#list_img_rotare li div a{
    float: right;
    font-weight: bold;
    padding-right: 10px;
}


