@CHARSET "utf-8";
/*--- box relative ---*/
.box-quan-tam-de{
	clear: both;
	border: solid 1px #eee;
	overflow: hidden;
	background: url("../images/bg-deal-de.png") repeat-y;
}
.box-quan-tam-de div.title{
	clear: both;
	background: url("../images/bg-tab-index.png") repeat-x;
	height:30px;
	overflow: hidden;
	text-transform: uppercase;
	line-height: 30px;
	font-weight: bold;
	text-indent: 5px;
	text-shadow: 0px 1px 1px #fff;
}
.box-quan-tam-de ul.list-items{
	clear: both;
}
.box-quan-tam-de ul.list-items li{
	clear: both;
	overflow: hidden;
	border-bottom: dotted 1px #eee;
	padding: 10px 0px;
}
.box-quan-tam-de ul.list-items li.row0{
	background: url("../images/bg-deal-de.png") repeat-y;
	clear: both;
	overflow: hidden;
}
.box-quan-tam-de ul.list-items li.row1{
	background: url("../images/bg-deal-de-over.png") repeat-y;
	clear: both;
	overflow: hidden;
}

.box-quan-tam-de ul.list-items li .sub-row{
	clear: both;
	width: 235px;
	margin: auto;
}
.box-quan-tam-de ul.list-items li p.img{
	clear: both;
	width: 90px;
	border: solid 1px #eee;
	float: left;
	margin-top: 3px;
}
.box-quan-tam-de ul.list-items li div.info-deal-de{
	float: right;
	width: 138px;
	overflow: hidden;
}

.box-quan-tam-de ul.list-items li div.info-deal-de p.description{
	clear: both;
	padding-bottom: 5px;
}

.box-quan-tam-de ul.list-items li div.info-deal-de p.price-old{
	clear: both;
	font-weight: bold;
	text-decoration: line-through;
	padding-bottom: 5px;
}

.box-quan-tam-de ul.list-items li div.info-deal-de p.price{
	clear: both;
	font-weight: bold;
	color: #ff0000;
	font-size: 16px;
}

.box-quan-tam-de ul.list-items li p.name{
	clear: both;
	font-weight: bold;
	padding-bottom: 5px;
}
.box-quan-tam-de ul.list-items li p.name a{
	color: #333;
}
.box-quan-tam-de ul.list-items li p.name a:hover{
	color: #ff0000;
	text-decoration: underline;
}
ul.cat-p-items{
    clear:both;
    width:100%;
	margin-top: 10px;
	
}
ul.cat-p-items li{
    float:left;
    width:224px;
    height:330px;
    display:block;
   	margin-right: 13px;
	margin-bottom: 10px;
	text-align: left;
	margin-left: 1px;
}

ul.cat-p-items li div.info-prod-cat{
	position: absolute;
	z-index: 2;
	width:224px;
	height: 328px;
	border: solid 1px #eee;
	background: url("../images/bgmainpr.jpg")repeat-x bottom;
}

ul.cat-p-items li:hover div.info-prod-cat{
	border: solid 2px #eee;
}


ul.cat-p-items li h1.name,h2.name,h3.name,h4.name,h5.name a{
	font-size:12px;
	clear:both;
	padding:0px 0px;
	margin:0 auto;
	width: 210px;
	height: 45px;
	color: #333;
}

ul.cat-p-items li .img{
    clear:both;
    width:222px;
    height:188px;
    overflow:hidden;
	margin: auto;
	border: solid 1px #fff;
	padding-bottom: 7px;
}
ul.cat-p-items li .img a{
	height:188px;
	display: block;
	overflow: hidden;
}

ul.cat-p-items li p.price{
    width:100px;
    color:#ff0000;
    font-weight:bold;
    overflow: hidden;
	margin:auto;
	font-size: 16px;
	float: right;
	text-align: right;
	padding-right: 3px;
}

ul.cat-p-items li p.price-old{
    clear:both;
    display:block;
    text-decoration:line-through;
    color:#999;
	width: 80px;
	margin: auto;
	padding-bottom: 7px;
	font-weight: bold;
	float: left;
	padding-left: 3px;
}

ul.cat-p-items li ul.phu-kien{
	margin: 0 auto;
	font-size: 11px;
	width: 210px;
	height: 60px;
	overflow: hidden;
}

ul.cat-p-items li ul.phu-kien li{
	border: none;
	width: auto;
	height: auto;
	padding: 2px 0px;
	line-height: normal;
	clear: both;
	margin: 0;
	background: url("../images/icon-sView.png")no-repeat -26px -68px;
	padding-left: 10px;
}

ul.cat-p-items li div.discount{
   position: absolute;
	z-index: 5;
	top: 2px;
	right: 1px;
	background: url("../images/icon-sprites.png")no-repeat 0px -96px;
	width: 63px;
	height: 68px;
	overflow: hidden;
	text-align: center;
	color: white;
}
ul.cat-p-items li div.discount p.lable{
	padding-top: 10px;
	overflow: hidden;
	font-size: 11px;
	text-align: center;
}

ul.cat-p-items li div.discount p.price-discount{
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	font-size: 16px;
	
}

ul.cat-p-items li div.buttom-buy-prod{
	background: url("../images/bg-btn.png")no-repeat;
	width: 121px;
	height: 41px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	z-index: 100;
	top: 145px;
	left: 20%;
	line-height: 41px;
	display: none;
}

ul.cat-p-items li div.buttom-buy-prod p.text a{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	display: block;
	text-indent: 23px;
}

.clear-paginator{
	clear: both;
	overflow: hidden;
	float: left;
}