.contact_name {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.contact_items {
    overflow: hidden;
}
.padding5 {
    padding: 5px 0;
}
.w300 {
    width: 250px;
}
.contact_items .label {
    float: left;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    width: 70px;
}
.title_form {
    border-bottom: 1px solid #E5E5E5;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
}

.contact_img{
    width: 250px;
    height: 180px;
    display: block;
    overflow: hidden;
}
.contact_img img{
    width: 250px;
}