.topnews{
    border: 1px solid #e5e5e5;
    padding: 5px;
    box-shadow: 3px 3px 5px #706d6d;
    overflow: hidden;
    margin-right: 5px;
}
.topnews .topleft{
    width: 260px;
    float: left;
}
.topnews .topright{
    width: 290px;
    float: right;
}
.topleft h3.title{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}
.topleft h3.title a{
    color: #11943c;
}
.topleft .img{
    width: 260px;
    height: 180px;
    display: block;
    overflow: hidden;
}
.topleft .img img{
    width: 260px;
}
.topright h3.title{
    font-weight: bold;
    color: #11943c;
    font-size: 14px;
}
.topright .listnews{
    background: #e5e5e5 url(xhtml_bg.png) no-repeat top left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom : 1px solid #ccc;
    padding: 10px 5px;
}
.listnews ul li{
    list-style: none;
    background: url(v-arrows.png) no-repeat scroll 0px 5px;
    padding-left: 12px;
    line-height: 16px;
    padding-bottom: 5px;
}
